<template name="pagePlacesNew">
  <main>
    <h2>Add a new Places</h2>
    {{ #autoForm collection='Places' type='insert' }}
      <fieldset>
        <legend>Location</legend>
        {{ > afQuickField name='location.locationName' }}
        {{ > afQuickField name='location.coordinates.latitude' }}
        {{ > afQuickField name='location.coordinates.longitude' }}
      </fieldset>
      <fieldset>
        <legend>Details</legend>
        {{ > afQuickField name='type' }}
        {{ > afQuickField name='ores' }}
      </fieldset>
      <fieldset>
        <legend>Usage</legend>
        {{ > afQuickField name='owners' }}
        {{ > afQuickField name='usage.start' }}
        {{ > afQuickField name='usage.stop' }}
      </fieldset>
      <button type="submit">Submit</button>
    {{ /autoForm }}
  </main>
</template>