<template name="pagePlacesNew">
  <main>
    {{ #autoForm schema=placeSchema type='method' meteormethod='newPlace' }}
      <fieldset>
        <legend>Location</legend>
        {{ > afQuickField name='locationName' }}
        {{ > afQuickField name='locationLatitude' }}
        {{ > afQuickField name='locationLongitude' }}
      </fieldset>
      <fieldset>
        <legend>Details</legend>
        {{ > afQuickField name='type' }}
        {{ > afQuickField name='ores' }}
      </fieldset>
      <fieldset>
        <legend>Usage</legend>
        {{ > afQuickField name='owners' }}
        {{ > afQuickField name='usageStart' }}
        {{ > afQuickField name='usageStop' }}
      </fieldset>
      <button type="submit">Submit</button>
    {{ /autoForm }}
  </main>
</template>