.map {
  position: relative;
  height: 60vw;
  width: 100vw;
  background-image: url('/images/Kanton-Graubuenden-lr_path_trans_2.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}