html {
  font-size: 16px;
}

body {
  color: hsl(0, 0%, 100%);
  background-color: hsl(0, 69%, 53%);
  font-family: Helvetica;
  font-weight: 200;
}

h1,
h2,
h3 {
  font-weight: 800;
}

h1,
h2 {
  font-size: 2rem;
}

legend {
  font-weight: 800;
  float: left;
  width: 100%;
}

fieldset {
  padding: .5rem;
  float: left;
  clear: both;
  width: 100%;
}

td {
  padding: .5rem .8rem;
}