html {
  font-size: 16px;
}

body {
  color: hsl(0, 0%, 100%);
  background-color: hsl(0, 69%, 53%);
  font-family: Helvetica;
  font-weight: 200;
}

h1,
h2,
h3 {
  font-weight: 800;
}

h3 {
  font-size: 2rem;
}