.timeRange {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  width: 100%;
  height: 40px;
  background-color: hsla(0, 0%, 20%, .2);
  user-select: none;
  cursor: pointer;
}

.timeRange--js--grabbing {
  cursor: move;
  cursor: grabbing;
}

.timeRange__bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 40px;
  width: 3px;
  background-color: hsl(0, 0%, 97%);
  cursor: grab;
}

.timeRange__control {
  display: block;
  position: absolute;
  width: 40px;
  left: 0;
  top: 0;
  background-color: hsl(0, 0%, 97%);
  font-size: 2rem;
  color: hsl(0, 0%, 0%);
  line-height: 40px;
  text-align: center;
  text-decoration: none;
}

.timeRange__control--stepUp {
  left: auto;
  right: 0;
}